.slide-text {
  font-size: 1.2rem;
  font-family: "Comic Sans MS", serif;
  position: absolute;
  top: 10rem;
  left: 5rem;
  color: white;
  background: #2dd4bf;
  padding: 5px;
}


.product-discount {
  position: absolute;
  z-index: 1;
  width: 75px;
  background: #2DD4BF;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 0 5px #2DD4BF;
}

.product-discount .discount-percent {
  background: #141c22;
  padding: 4px;
  text-align: center;
  font-size: 18px;
  color: #2DD4BF;
  font-family: "Corporate Rounded Voli Bold", sans-serif;
  border-top-left-radius: 8px;
}

.product-discount .discount-date {
  color: #141c22;
  font-size: 11px;
  font-family: "Corporate Rounded Voli Bold", sans-serif;
  text-align: center;
  margin: 5px auto 0;
}

.lazy-load-image-background  .lazy-load-image-loaded{
  display: inline !important;
}

/* .swiper-button-prev {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  left: 0 !important;
}

.swiper-button-next {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  right: 0 !important;
} */